@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="../../Scripts/jquery-1.7.2.min_74e92c4.js"></script>
    <script src="../../Scripts/jquery-1.4.2.js"></script>
    <script src="../../Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="../../layer/layer.js"></script>
    <link href="../../layer/skin/layer.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <title></title>
    <script>
        function afterAdd(data) {
            if (data == "ok") {
                window.alert("添加成功！");
            }
            else if (data == "no") {
                window.alert("添加失败！");
            }
            closeLayer();
        }
        function Cancle() {
            closeLayer();
        }
        function closeLayer() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
            layer.close();
        }
    </script>
</head>
<body>
    @using (Ajax.BeginForm("addSchool", new AjaxOptions { }, new AjaxOptions() { OnSuccess = "afterAdd" }))
    {
        <form>
            <label>姓名：</label>
            <input type="text" id="txt_name" name="txt_name" /><br />

            <label>学号：</label>
            <input type="text" id="txt_no" name="txt_no" /><br />

            <label>开始时间：</label>
            <input type="text" id="txt_s_time" name="txt_s_time" /><br />

            <label>离开时间：</label>
            <input type="datetime" id="txt_e_time" name="txt_e_time" /><br />

            <label>现宿舍：</label>
            <input type="datetime" id="txt_pdorm" name="txt_pdorm" /><br />

            <label>原宿舍：</label>
            <input type="text" id="txt_odorm" name="txt_odorm" /><br />

            <label>批准人：</label>
            <input type="text" id="txt_leader" name="txt_leader" /><br />

            <label>联系电话：</label>
            <input type="text" id="txt_tel" name="txt_tel" /><br />

            <label>备注：</label>
            <input type="text" id="txt_remark" name="txt_remark" /><br />
            

            <button type="submit" class="btn btn-primary">确定</button>
            
            <button class="btn" onclick="Cancle()">取消</button>
        

        </form>

    }
</body>
</html>
