@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

    <script src="../../Scripts/jquery-1.7.2.min_74e92c4.js"></script>
    <script src="../../Scripts/jquery-1.4.2.js"></script>
    <script src="../../Scripts/jquery.unobtrusive-ajax.js"></script>


    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../../layer/layer.js"></script>

    <link href="../../layer/skin/layer.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />

    <script>
        function afterAdd(data) {
            
            if (data == "ok") {
                window.alert("添加成功");
               
            }
            else if (data == "no") {
                window.alert("添加失败");
            }

             closeLayer();
            
        }

        function closeLayer()
        {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
            layer.close();
        }

        function Cancle()
        {
            closeLayer();
        }
    </script>
</head>
<body>
    @using (Ajax.BeginForm("addStu", new AjaxOptions { }, new AjaxOptions() {OnSuccess="afterAdd" }))
    {
        <form>
            <label for="sno">学号：</label>
            <input type="text" id="txt_no" name="txt_no" /><br />

            <label for="sname">姓名</label>
            <input type="text" id="txt_name" name="txt_name" /><br />

            <label for="ssex">性别</label>
            <select name="selc_sex" required="required">
                <option value="男">男</option>
                <option value="女">女</option>
            </select>

            <label for="school">是否在校</label>
            <select name="selc_sc" required="required">
                <option value="1">在校</option>
                <option value="0">不在校</option>
            </select>

            <label for="sdept">系别</label>
            <input type="text" id="txt_dept" name="txt_dept" /><br />

            <label for="dorm">宿舍</label>
            <input type="text" id="txt_dorm" name="txt_dorm" /><br />

            <label for="s_time">入学时间</label>
            <input type="date" id="txt_s_time" name="txt_s_time" /><br />

            <label for="e_time">拟毕业时间</label>
            <input type="date" id="txt_e_time" name="txt_e_time" /><br />

            <label for="m_time">修改时间</label>
            <input type="date" id="txt_m_time" name="txt_m_time" /><br />

            <button type="submit" class="btn btn-primary">确认</button>

            <button class="btn" onclick="Cancle()">取消</button>

        </form>
    }
</body>
</html>
